@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html,
  body {
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
  }
  
  body {
    font-family: Inter, ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
    
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  h1 {
    @apply md:text-[64px] text-[36px];
    @apply md:leading-[68px] leading-[40px];
  }
  
  h2 {
    @apply md:text-[32px] text-[24px];
    @apply md:leading-[36px] leading-[28px];
  }
  
  h3 {
    @apply text-[24px];
    @apply leading-[28px];
  }
  
  p {
    @apply text-[16px];
    @apply leading-[20px];
  }
}